---
import Layout from '@/layouts/Layout.astro';
import { Button } from '@/components/ui/button';

const title = '404: This page could not be found.';
---

<Layout title={title}>
	<main>
		<p class='text-sm'>
			<span class='font-semibold mr-1'>404:</span>This page could not be found.
		</p>
		<Button variant='link' className='px-0 underline'
			><a href='/'>back home</a></Button
		>
	</main>
</Layout>
