---
import { Button } from '@/components/ui/button';
---

<p class='text-sm leading-none text-balance text-muted-foreground'>
	built with
	<a
		href='https://astro.build/'
		target='_blank'
		rel='noreferrer'
		aria-label='Astro website'
	>
		<Button variant='link' className='px-0 py-0 h-fit'>Astro</Button>
	</a>
	and
	<a
		href='https://ui.shadcn.com/'
		target='_blank'
		rel='noreferrer'
		aria-label='Shadcn/ui website'
	>
		<Button variant='link' className='px-0 py-0 h-fit'> Shadcn/ui </Button>
	</a>
</p>
