---
import { Button } from '@/components/ui/button';
---

<p class='text-sm text-secondary-foreground leading-none'>
	built with
	<Button variant='link' className='px-0 py-0'>
		<a
			href='https://astro.build/'
			target='_blank'
			rel='noreferrer'
			aria-label='Astro website'
		>
			Astro
		</a>
	</Button>
	and
	<Button variant='link' className='px-0 py-0'>
		<a
			href='https://ui.shadcn.com/'
			target='_blank'
			rel='noreferrer'
			aria-label='Shadcn/ui website'
		>
			Shadcn/ui
		</a>
	</Button>
</p>
